.nav-text{
    color: rgb(54, 39, 39) ;
    font-size: 20px;
    padding: 30px;
    font-family: 'Fira Sans', sans-serif;
    text-align: center;
}
.nav-text:hover{
    color: rgb(248, 75, 6) ;
    border-bottom: 2px solid rgb(248, 75, 6);
    text-align: center;
}

.one{
    background-image: url('/photo/plane2.jpg');
    height: 90vh;
    background-size:cover;
    background-repeat:no-repeat;
    background-position:center;
    flex: 1;
    margin: 5px;
    position: relative;
}

.bg-custom1{
    background-color: #F04D33;
}

.header-list{
    display: flex;
    flex-direction: column;
    margin-top: -60px;
}
/*
.test{
    width: 40%;
    top: 10%;
    position: absolute;
    left: 10%;
    letter-spacing: .2cm;
    overflow:hidden;
    animation: animate 1.5s linear forwards;
}
.test2{
    width: 100%;
    top: 30%;
    position: absolute;
    left: 10%;
    letter-spacing: .2cm;
    overflow:hidden;
    animation: animate 1.7s linear forwards;
}
.test3{
    width: 100%;
    top: 50%;
    position: absolute;
    left: 10%;
    letter-spacing: .2cm;
    overflow:hidden;
    animation: animate 2s linear forwards;
}
.test4{
    width: 100%;
    top: 70%;
    position: absolute;
    left: 10%;
    
    overflow:hidden;
    animation: animate 2.5s linear forwards;
}
.test5{
    width: 50%;
    top: 95%;
    position: absolute;
    left: -5%;
    overflow:hidden;
    animation: animate 2.5s linear forwards;
}

@keyframes animate {

    from {
        margin-left: 100%;
        width: 300%;
      }
    
      to {
        margin-left: 0%;
        width: 100%;
      }
}
*/

.tracking-in-expand {
	-webkit-animation: tracking-in-expand 1.2s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	animation: tracking-in-expand 1.2s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

@-webkit-keyframes tracking-in-expand {
    0% {
      letter-spacing: 0.5em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes tracking-in-expand {
    0% {
      letter-spacing: 1em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
  }

.header{
   color: #f7f2f0;
   font-size: 50px;
   padding: 20px;
   text-decoration: none;
   list-style: none;
   font-family: 'Fira Sans', sans-serif;
}
.update{
    text-align:end;
    color: #fff;
    font-family: 'Fira Sans', sans-serif;
    font-size: 20px; 
}

.header-main{
    font-size: 25px;
    font-family: 'Fira Sans', sans-serif;
}
.header-main-text{
    font-family: 'Fira Sans', sans-serif;
    font-size: 15px;
    font-weight: bold;
}

.bg-custom{
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,1) 5%, rgba(247,163,136,1) 76%, rgba(240,81,55,1) 100%);
}
    
.name{
    color: rgb(54, 39, 39);
    font-size: 40px;
    font-family: 'Fira Sans', sans-serif;
}
.name:hover{
    font-size: 42px;
    transition: all 2s ease;
}

.link{
    color: #F04D33;
    font-family: 'Fira Sans', sans-serif;
}
.link:hover{
    color: #F04D33;
}


/*Main*/
.two{
    background-image: url('/photo/plane2.avif');
    height: 90vh;
    background-size:cover;
    background-repeat:no-repeat;
    background-position:center;
    flex: 1;
    margin: 5px;
    position: relative;
    
}

