html{
    /*min-width: fit-content;*/
}
.nav-text{
    color: rgb(54, 39, 39) ;
    font-size: 20px;
    padding: 30px;
    font-family: 'Fira Sans', sans-serif;
    text-align: center;
}
.nav-text:hover{
    color: rgb(248, 75, 6) ;
    border-bottom: 2px solid rgb(248, 75, 6);
    text-align: center;
}

.main-image{
    position: relative;
}
.custom-text{
    top: 25%;
    right: 23%;
    position: absolute;

}
.link-index{
    text-decoration: none;
}

.border-index{
    border: 2px solid gray;
    width: 150vh;
    padding: 20px;
}

.image-main{
    max-width: 100%;
    height: 300px;
    width: 400px;
    object-fit: cover;
}

.bg-custom1{
    background-color: #F04D33;
}


.header-main{
    font-size: 25px;

}
.header-main-text{

    font-size: 15px;

}

.bg-custom{
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,1) 5%, rgba(247,163,136,1) 76%, rgba(240,81,55,1) 100%);
}

.name{
    color: rgb(54, 39, 39);
    font-size: 40px;
    font-family: 'Fira Sans', sans-serif;
}
.name:hover{
    font-size: 42px;
    transition: all 2s ease;
}

.link{
    color: #F04D33;
    font-family: 'Fira Sans', sans-serif;
}
.link:hover{
    color: #F04D33;
}
.navbar>.container-fluid.header{
    min-height: 85px;
}
.article-link{
    display: flex;
    justify-content: center;
}
main img{
    max-width: 100%;
    max-height: 1000px;
}
@media all and (min-width:576px) {
    .collapse.navbar-collapse {
        flex-grow: 0;
    }
    .navbar>.container-fluid.header{
        justify-content: center;
    }
    .logo{
        position: absolute;
        left: 15px;
    }
}
@media all and (max-width:1000px){
    .nav-text{
        padding: 5px;
    }
    .custom-text{
        right: 21%;
    }
}

@media all and (max-width:500px){
     .main-image{
        width: 100%;
        height: 100%;
    }
}





