site_url: https://nostalgic-bhaskara-f82210.netlify.app/
logo_url: https://nostalgic-bhaskara-f82210.netlify.app/icon.png

backend:
  name: git-gateway
  branch: master
  squash_merges: true

# used together with `npx netlify-cms-proxy-server`. https://www.netlifycms.org/docs/beta-features/#working-with-a-local-git-repository
local_backend: true

media_folder: static/img
public_folder: /img

# Docs: https://www.netlifycms.org/docs/configuration-options/#collections
collections:
  - label: 'Site settings'
    name: 'site'
    files:
      - label: 'Info'
        name: 'info'
        file: 'content/site/info.json'
        format: 'json'
        editor:
          preview: false
        fields:
          - { label: Site Name, name: sitename, widget: string, hint: 'This is used for the site title' }
          - {
            label: Site Description,
            name: sitedescription,
            widget: string,
            hint: 'This is used as descriptive text for links that link to this site',
          }
          - {
            label: Site Language,
            name: sitelang,
            widget: string,
            pattern: [ '^[a-z]{2}([-])?([A-Za-z]{2})?$', 'Must match "xx" or "xx-XX" syntax (ex. "en" or "sv-SE")' ],
          }
          # - { label: Site Email, name: siteemail, widget: string, required: false }
  - name: 'blog'
    label: 'Blog'
    folder: 'content/blog'
    create: true
    format: 'frontmatter'
    slug: '{{fields.url_name}}'
    # editor:
    #   preview: true
    fields:
      - {
        label: 'Category',
        name: 'category',
        widget: 'select',
        default: 'moving',
        options: [ { label: 'Переїзд', value: 'moving' },
                   { label: 'Прихисток', value: 'shelter' },
                   { label: 'Життя', value: 'life' },
                   { label: 'Події', value: 'events' },
                   { label: 'UkrToOffers', value: 'ukrToOffers' }
        ],
      }
      - { label: 'Title', name: 'title', widget: 'string', required: true }
      - { label: 'URL Name of an article (Latin and unique)', name: 'url_name', widget: 'string', required: true }
      - { label: 'Description', name: 'description', widget: 'string', required: false }
      - { label: 'Cover Image', name: 'cover', widget: 'image', required: false, allow_multiple: false }
      - { label: 'Created Date', name: 'createdAt', widget: 'datetime', date_format: "YYYY-MM-DD", time_format: false }
      - label: 'Page Section'
        name: 'sections'
        widget: 'list'
        types:
          - label: 'Text Block'
            name: 'text_block'
            widget: object
            fields:
              - { label: Title, name: title, widget: string }
              - { label: Text, name: body, widget: markdown }
              - label: 'Images'
                name: images
                required: false
                widget: list
                fields:
                  - { label: "Image", name: "image", widget: "image", required: false }
                  - { label: Image Description, name: alt, widget: string }
      - { label: 'Content', name: 'body', widget: 'markdown', required: false }
      - {
        label: 'Gallery',
        name: 'gallery',
        widget: 'list',
        required: false,
        summary: '{{fields.file}}',
        field: { label: 'File', name: 'file', widget: 'file' },
      }
